/* 1. Type selector (0,0,1) */
p { color: grey; }

/* 2. Hai Type selectors (0,0,2) */
body p { color: silver; }

/* 3. Class selector (0,1,0) */
.text { color: brown; }

/* 4. Hai Class selectors (0,2,0) */
.text.highlight { color: orange; }

/* 5. Class + Type selector (0,1,1) */
p.text { color: pink; }

/* 6. Hai Class + Type selector (0,2,1) */
p.text.highlight { color: blue; }

/* 7. ID selector (1,0,0) */
#demo { color: green; }

/* 8. ID + Type selector (1,0,1) */
p#demo { color: purple; }

/* 9. ID + Class selector (1,1,0) */
#demo.text { color: yellow; }

/* 10. ID + 2 Classes + Type (1,2,1) */
p#demo.text.highlight { color: red; }